<header>
    <nav>
        <a href="/">Pelicuteca</a>
        <ul>
            <li><a href="/authors">Autores</a></li>
            <li><a href="/authors/new">Agregar autor</a></li>
        </ul>
    </nav>
</header>